{% extends 'back/base.html.twig' %}

{% block title %}
Personnes
{% endblock %}
{% block body %}

	<div class="col-12 text-center my-4">
		<h1 id="detail-title">Liste des Personnes</h1>
	</div>
	<div class="text-end">
		<a href="{{ path('admin_person_new') }}"class="btn btn-purple my-2 col-3">Ajouter une Personne</a>
	</div>
	<table class="table table-hover card-purple">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nom</th>
				<th scope="col">Profession</th>
				<th scope="col">Création</th>
				<th scope="col">Dernière modification</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for person in people %}
				<tr class="table-{{ cycle(['primary', 'secondary'], loop.index) }} card-purple">
					<th scope="row">{{ person.id }}</th>
					<td>{{ person.firstname }} {{ person.lastname }}</td>
					<td>{{ person.category }}</td>
					<td>{{person.createdAt|date('d/m/Y') }}</td>
					<td>{{person.updatedAt ? person.updatedAt|date('d/m/Y') }}</td>
					<td class="text-end">
              <a href="{{ path('admin_person_show', {id: person.id}) }}" class="fs-4 btn-back-tool"
                ><i class="fa fa-eye" aria-hidden="true"></i></a>
              <a href="{{ path('admin_person_edit', {id: person.id}) }}" class="fs-4 btn-back-tool"
                ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <form action="{{ path('admin_person_delete', {id: person.id}) }}" class="d-inline" method="post">
                <button class="btn btn-back-tool p-0 mb-2 fs-4"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
              </form>
            </td>
				</tr>
			</tr>
		{% else %}
			<tr>
				<td colspan="16">Aucune donnée trouvée</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
