{% extends 'front/base.html.twig' %}

{% block title %}
	{{ person.firstname }}
	{{ person.lastname }}
{% endblock %}

{% block body %}

	<!-- detail de l'annonce -->
	<div
		class="row m-5 d-flex justify-content-around">

		<!-- image -->
		<div class="col-10 col-xxl-6 col-xxl-5 text-sm-center text-xxl-start mb-5">
			{% if person.image != null %}
				<img src="{{ person.image }}" class="img-person user-select-none rounded" aria-label="Image" focusable="false" role="img"/>
			{% else %}
				<img src="{{ asset('assets/images/mire_error.jpg') }}" class="img-persons-media d-block user-select-none mx-auto rounded mb-3" width="90%" aria-label="Image" focusable="false" role="img"/>
			{% endif %}
		</div>

		<!-- bloc information -->
		<div class="card bloc-detail ruban col-10 col-xl-8 col-xxl-6 mb-5">


			<!-- V1 partage des fiches sur les réseaux -->
			{# <div class="col-12 text-end my-2">
											<i class="bi bi-twitter"></i>
											<i class="bi bi-facebook"></i>
											<i class="bi bi-share-fill"></i>
										</div> #}

			<!-- Nom -->
				<div class="text-center my-2"> <h1 id="detail-title">{{ person.firstname }}
					{{ person.lastname }}</h1>
			</div>

			<div
				class="bloc-contour-detail m-3 px-3">
				<!-- Date de naissance -->
				{% if person.birthdate != null %}
					<p class="paragraph-person">Né(e) le :
						<span class="detail-person">{{ person.birthdate|date('d/m/Y') }}</span>
					</p>
				{% endif %}

				<!-- Nationalité -->
				{% if person.nationality != null %}
					<p class="paragraph-person">Nationalité :
						<span class="detail-person">{{ person.nationality }}</span>
					</p>
				{% endif %}

				<!-- Profession -->
				{% if person.category != null %}
					<p class="paragraph-person">Profession :
						<span class="detail-person">{{ person.category }}</span>
					</p>
				{% endif %}
			</div>

			<!-- les medias associés à la personne -->
			<div class="row d-flex justify-content-around">
				{% for media in person.medias %}
					<div class="card card-purple bloc-detail m-3 col-4 col-xxl-4 p-2">
						<a href="{{ path('media_show', {id:media.id}) }}">
							{% if media.image != null %}
								<img src="{{ media.image }}" class="d-block user-select-none mx-auto rounded" aria-label="Image" focusable="false" role="img"/>
							{% else %}
								{# use of the service set up in App\Service\FileService.php to check whether a file exists or not #}
								{% if  file_service.exist(asset('api/' ~ media.originalTitle ~ '.jpg')) == true %}
									<img src="{{ asset('assets/images/api/' ~ media.originalTitle ~ '.jpg') }}" class="d-block user-select-none mx-auto rounded pb-2" aria-label="Image" focusable="false" role="img"/>
								{% else %}
									<img src="{{ asset('assets/images/mire_error.jpg') }}" class="d-block user-select-none mx-auto rounded pb-2" width="90%" aria-label="Image" focusable="false" role="img"/>
								{% endif %}
							{% endif %}
						</a>
						<h3 class="card-header bloc-contour-detail text-center">
							<a href="{{ path('media_show', {id:media.id}) }}" class="link-card">{{ media.title }}</a>
						</h3>
					</div>
				{% endfor %}
			</div>


		</div>
	{% endblock %}
