{% extends 'back/base.html.twig' %}

{% block title %}
Catégories d'Item
{% endblock %}
{% block body %}

	<div class="col-12 text-center my-4">
		<h1 id="detail-title">Liste des Catégories des items</h1>
	</div>
	<div class="text-end">
	<a href="{{ path('admin_item_category_new') }}"class="btn btn-purple my-2 col-3">Ajouter une Catégorie</a>
	</div>
	<table class="table table-hover card-purple">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Titre</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for category in item_categories %}
				<tr class="table-{{ cycle(['primary', 'secondary'], loop.index) }} card-purple">
					<th scope="row">{{ category.id }}</th>
					<td>{{ category.name }}</td>
					<td class="text-end">
              			<a href="{{ path('admin_item_category_show', {id: category.id}) }}" class="fs-4 btn-back-tool"
               				 ><i class="fa fa-eye" aria-hidden="true"></i></a>
              			<a href="{{ path('admin_item_category_edit', {id: category.id}) }}" class="fs-4 btn-back-tool"
                			><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              			<form action="{{ path('admin_item_category_delete', {id: category.id}) }}" class="d-inline" method="post">
                			<button class="btn btn-back-tool p-0 mb-2 fs-4"><i class="fa fa-trash" aria-hidden="true"></i></button>
                			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
              			</form>
           			 </td>
				</tr>
		{% else %}
			<tr>
				<td colspan="16">Aucune donnée trouvée</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}


